.container__combo {
 width: 70%;
 margin: 4rem auto;
 display: flex;
 justify-content: center;
 gap: 5rem;
 color: var(--texto-banner-principal);
}

.container__combo__conteudo {

 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1.5rem;
}

.container__combo__texto {
 width: 35vw;
}

.botao__combo {

 background-color: var(--botao-banner-principal);
 color: var(--branco-principal);
 padding: 1rem;
 border-radius: 0.5rem;
 font-size: 1rem;
 border: 1px solid transparent;
 width: 11rem;
 text-align: center;

}

.foto__combo {
 width: 30vw;
}

@media (max-width: 1000px) {

 .container__combo {
  flex-direction: column-reverse;
  align-items: center;
 }

 .container__combo__conteudo {
  align-items: center;
 }

 .container__combo__texto {
  width: 100%;
  text-align: center;
 }

}