.rodape {
 width: 70%;
 margin: auto;
 color: var(--branco-principal);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;

}

.rodape__logo {

 padding: 2.5rem;

}

.rodape__links {

 display: flex;
 gap: 1rem;
 font-weight: bold;
}

.rodape__informacoes {

 display: flex;
 flex-direction: column;
 align-items: center;
 width: 65vw;
 gap: 1.5rem;
 text-align: center;
 font-size: 0.9rem;
 color: var(--texto-banner-principal);
 margin-bottom: 5rem;
}

@media (max-width: 1000px) {

 .rodape__links {

  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
 }
}